@charset "UTF-8";
* {
	color: #000;
}
/*-----------
汎用クラス
-------------*/
.center-container {
	min-width: 700px;
	max-width: 980px;
	margin: 0 auto;
}
/*---------
各パーツ設定
----------*/
/*ヘッダー　フッター*/
header,
footer {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 64);
}

header {
	padding: 20px 0 0;
}

header a {
	color: #fff;
}
footer {
	text-align: center;
	padding: 20px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	bottom: 0;
	width: 100%;
}
.table{
	border-collapse: collapse;
	width: 60%;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}

h1{
	margin-bottom: 24px;
}

table tr{
	border-bottom: solid 1px #eee;
	cursor: pointer;
}

table tr:hover{
	background-color: #d4f0fd;
}

table th, table td{
	text-align: center;
	width: 25%;
	padding: 15px 0;
}
.error{
	color: red;
}
