@charset "UTF-8";
*{
	color: #000;
}

/*初期化*/
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

/*-----------
汎用クラス
-------------*/
.center-container {
	min-width: 700px;
	max-width: 980px;
	margin: 0 auto;
}

/*---------
各パーツ設定
----------*/
/*ヘッダー　フッター*/
header,
footer {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 64);
}

header {
	padding: 20px 0 0;
}

header a {
	color: #fff;
}

.gnav-wrap {
	width: 1200px;
	margin: 0 auto;
}

.gnav-lists {
	display: flex;
}

.gnav-list {
	width: 20%;
	height: 60px;
	background-color: white;
	position: relative;
	transition: all .3s;
}

.gnav-list:hover {
	background-color: rgb(255, 128, 0);
}

.gnav-list:not(:first-child)::before {
	content: "";
	width: 1px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s;
}

.gnav-list:hover::before {
	background-color: rgb(255, 128, 0);
}

.gnav-list a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #1b4059;
	font-size: 15px;
	letter-spacing: 0.05em;
	font-weight: 600;
	transition: all .3s;
}

.gnav-list:hover a {
	color: #fff;
}

footer {
	text-align: center;
	padding: 20px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	bottom: 0;
	width: 100%;
}

/*右配置*/
.right{
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.right ul{
	padding: 0;
}
.right li{
	margin: 10px 0; 
}
.right a{
	padding: 10px 15px;
	text-decoration: none;
}
.right a:hover{
	color: #007BFF;
}
.time {
	margin: 15px 0;
}
/*テーブル内線　文字間にスペース*/
table{
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;/*中央配置*/
	border-collapse: collapse;/* ボーダーの重なりを防ぐ */
}
th, td{
	padding: 8px;/*セル内パディング*/
	text-align: left;
	border: 2px solid #ccc;
}
th{
	width: 14.28%;/* 各列の幅を均等に設定（7列の場合） */
}
select {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 200px;
	appearance: none;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><polygon points="0,0 10,0 5,5" fill="%23000"/></svg>') no-repeat right 10px center;
	/* カスタム矢印 */
	background-size: 10px;
}

.submit {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/*右寄せ*/
	padding: 10px 15px;
}

.submit button {
	background-color: khaki;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 5px;
	/*角丸く*/
	display: inline-block;
}






















